.peakContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterToggle {
  margin-left: 50px;
  background-color: rgb(38, 83, 43);
  color: white;
  padding: 4px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.loading {
  width: 500px;
  height: 400px;
  outline: 1px solid red;
}
