.climbBtn {
  margin-right: 60px;
  background-color: #26532b;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.addToClimbsBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addToClimbsBtn:hover {
  padding: 9px 17px;
}

.iconContainer {
  max-width: 10px;
  margin-right: 10px;
}
