.logoutBody {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 30px 20px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logout,
.home {
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #333;
}

.logout:hover,
.home:hover {
    color: blue;
    padding: 6px 9px;
}

.home a {
    text-decoration: none;
    color: inherit;
}
