.filterContainer {
  display: flex;
  align-items: center;
}

.resetBtn,
.sortElevationBtn {
  background-color: rgb(38, 83, 43);
  color: white;
  padding: 4px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.btnText {
  margin-right: 5px;
}

.resetBtn {
  margin-left: 10px;
}

.resetBtn:focus,
.sortElevationBtn:focus {
  color: white;
}

.sortElevationBtn i {
  display: inline;
}

.filter {
  margin: 0 20px;
}

.filterHeader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.filterRow {
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-align: center;
}

.filterRow:hover {
  background-color: rgba(38, 83, 43, 0.7);
}

.filterRow i {
  margin-right: 5px;
}

.searchBar {
  margin-left: 15px;
}

.searchContainer {
  position: relative;
}

.searchContainer i {
  position: absolute;
  top: 5px;
  color: #333;
}

.searchIcon {
  left: 4px;
}

.closeIcon {
  right: 7px;
  cursor: pointer;
  opacity: 6;
}

.closeIcon:hover {
  opacity: 1;
}

.searchForm {
  display: flex;
}

.search {
  padding: 5px 18px;
  padding-left: 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

.search:focus {
  outline: none;
  border: 2px solid green;
}

.rangeContainer {
  max-width: 300px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* .rangeContainer .filterRow {
  padding: 5px 10px;
} */

.error {
  margin: 0 auto;
  width: fit-content;
  color: red;
}
