.filterContainer {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.resetBtn,
.searchBtn {
  background-color: rgb(38, 83, 43);
  color: white;
  padding: 4px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.resetBtn {
  line-height: 1.6;
  position: absolute;
  top: 15px;
  left: 50px;
}

.filter {
  margin: 0 20px;
}

.filterHeader {
  text-align: center;
  margin-bottom: 10px;
}

.filterRow {
  padding: 3px 5px;
  border-radius: 6px;
  cursor: pointer;
}

.filterRow:hover {
  background-color: rgba(38, 83, 43, 0.7);
}

.filterRow i {
  margin-right: 5px;
  margin-left: 0;
}

.searchBar {
  margin-left: 15px;
}

.searchForm {
  display: flex;
}

.searchBtn {
  margin-left: 2px;
}

.rangeContainer {
  max-width: 300px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.rangeContainer .filterRow {
  padding: 5px 10px;
}

.error {
  margin: 0 auto;
  width: fit-content;
  color: red;
}
