.loginBody {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  border-radius: 5px;
  padding: 30px 20px;
  text-align: center;
}

.header {
  margin: 5px 0;
}

.instructions {
  margin: 5px 0;
}

.errorMsg {
  color: red;
}

.submitBtn {
  border: 1px solid rgb(31, 74, 40);
  background: rgba(31, 74, 40, 0.9);
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 1.25rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: ease-in-out 0.3s;
  color: white;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: rgba(31, 74, 40, 1);
}

.links {
  margin-top: 20px;
  text-align: center;
}

.lineContainer {
  max-width: 550px;
  margin: 10px auto;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  margin: 0 20px;
}

.lineContainer span {
  margin: 0 5px;
}

.backBtn {
  position: absolute;
  top: 80px;
  left: 50px;
  background-color: #26532b;
  padding: 4px 8px;
  border: none;
  color: white;
  border-radius: 3px;
}

.backBtn i {
  margin-right: 4px;
  font-size: 10px;
}

.links a {
  text-decoration: none;
  color: blue;
}
