.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-family: Sofia Pro;
}

.leftCol { display: flex; }

.logoContainer {
    width: 50px;
}

.navLinks {
    display: flex;
}

.navLink {
    margin: 0 5px;
    list-style: none;
    cursor: pointer;
    padding: 0 3px;
}

.navLink {
    color: #333;
    text-decoration: none;
}

.navLink.active {
    color: #26532B;
    text-decoration: none;
}

.navLink.active span {
    padding-bottom: 3px;
    border-bottom: 1px solid #26532B;
}


.login {
    text-decoration: none;
    color: #333;
}