.userContainer {
  position: relative;
}
.name {
  display: flex;
  align-items: center;
}

.arrow {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.userLinks {
  position: absolute;
  top: 45px;
  padding: 0 20px;
  background-color: #fff;
  z-index: 100;
  border-radius: 10px;
  margin-bottom: 10px;
}

.userLinks a {
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 1.2;
}

.userLinks a:hover {
  background-color: rgba(38, 83, 43, 0.7);
}
