.user {
    display: flex;
    align-items: center;
}

.arrow {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.userLinks {
    position: absolute;
}

.userLinks a {
    display: block;
    text-decoration: none;
    color: inherit;
}