.statsContainer {
  margin-left: 50px;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: "Hubballi", cursive;
  font-size: 23px;
}

.iconContainer {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
