.reportContainer {
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  padding-top: 10px;
  border: 1px solid transparent;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.reportHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reportBody {
  position: relative;
  margin-left: 2rem;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.imgContainer {
  max-width: 300px;
  margin-bottom: 15px;
}

.title {
  margin-top: 0;
}

.btnContainer {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.editForm {
  max-width: 500px;
}

.editInput {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.editBtn {
  background-color: green;
  color: white;
  line-height: 1.6;
  padding-top: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.deleteBtn {
  background-color: red;
}

.editBtn i {
  font-size: 20px;
  transition: all 200ms ease-in-out;
}

.editBtn:hover i {
  font-size: 25px;
}
