.addBtnBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amazonImg {
  width: 400px;
  height: 400px;
}

/* .climbBtn {
  margin-right: 60px;
  background-color: #26532b;
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 15px;
}

.addToClimbsBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addToClimbsBtn:hover {
  padding: 9px 17px;
} */

.peakName,
.peakPhoto {
  margin-left: 100px;
}

.peakName {
  font-weight: 400;
}

.peakPhoto {
  max-width: 300px;
}

.mainInfo {
  display: flex;
  align-items: center;
}

.editPeak {
  text-align: left;
  padding-left: 150px;
}

.editBtn {
  background-color: transparent;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.imgContainer {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.reportsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: 100px;
  margin-top: 20px;
  background-color: #f4faff;
  border: 1px solid #333;
  padding: 15px;
}

.addReportBtn {
  display: flex;
  align-items: center;
  background-color: #26532b;
  color: white;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
}

.iconContainer {
  max-width: 10px;
  margin-right: 10px;
  padding-top: 2px;
}
