.peak {
  max-width: 200px;
  margin: 20px;
  text-align: center;
  min-height: 300px;
  box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.peak:hover {
  transform: scale(1.1);
}

.imgContainer {
  border-radius: 5px;
  overflow: hidden;
}

img {
  width: 100%;
}

.name {
  font-size: 1rem;
  font-weight: 500;
}
